In [1]:
import zipfile

In [2]:
import pandas as pd

In [9]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = 'C:\\Users\\shrut\\.kaggle\\kaggle.json'

In [3]:
bikes = pd.read_csv("London_bike_sharing_dataset.csv")

In [4]:
bikes.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 0:00,182,3.0,2.0,93.0,6.0,3,0,1,3
1,2015-01-04 1:00,138,3.0,2.5,93.0,5.0,1,0,1,3
2,2015-01-04 2:00,134,2.5,2.5,96.5,0.0,1,0,1,3
3,2015-01-04 3:00,72,2.0,2.0,100.0,0.0,1,0,1,3
4,2015-01-04 4:00,47,2.0,0.0,93.0,6.5,1,0,1,3

In [5]:
# explore the data
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  int64
 7   is_holiday    17414 non-null  int64
 8   is_weekend    17414 non-null  int64
 9   season        17414 non-null  int64
dtypes: float64(4), int64(5), object(1)
memory usage: 1.3+ MB

In [6]:
bikes.shape

(17414, 10)

In [7]:
# count the unique values in the weather_code column
bikes.weather_code.value_counts()

weather_code
1     6150
2     4034
3     3551
7     2141
4     1464
26      60
10      14
Name: count, dtype: int64

In [8]:
# count the unique values in the season column
bikes.season.value_counts()

season
0    4394
1    4387
3    4330
2    4303
Name: count, dtype: int64

In [9]:
# specifying the column names that I want to use
new_cols_dict ={
    'timestamp':'time',
    'cnt':'count', 
    't1':'temp_real_C',
    't2':'temp_feels_like_C',
    'hum':'humidity_percent',
    'wind_speed':'wind_speed_kph',
    'weather_code':'weather',
    'is_holiday':'is_holiday',
    'is_weekend':'is_weekend',
    'season':'season'
}

# Renaming the columns to the specified column names
bikes.rename(new_cols_dict, axis=1, inplace=True)

In [10]:
bikes.head()

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 0:00,182,3.0,2.0,93.0,6.0,3,0,1,3
1,2015-01-04 1:00,138,3.0,2.5,93.0,5.0,1,0,1,3
2,2015-01-04 2:00,134,2.5,2.5,96.5,0.0,1,0,1,3
3,2015-01-04 3:00,72,2.0,2.0,100.0,0.0,1,0,1,3
4,2015-01-04 4:00,47,2.0,0.0,93.0,6.5,1,0,1,3

In [11]:
# changing the humidity values to percentage (i.e. a value between 0 and 1)
bikes.humidity_percent = bikes.humidity_percent / 100

In [12]:
# Creating a season dictionary to map the integers 0-3 to the actual written values
season_dict = {
    0.0: 'spring',
    1.0: 'summer',
    2.0: 'autumn',
    3.0: 'winter'
}

# Creating a weather dictionary to map the integers to the actual written values
weather_dict = {
    1.0: 'Clear',
    2.0: 'Scattered clouds',
    3.0: 'Broken clouds',
    4.0: 'Cloudy',
    7.0: 'Rain',
    10.0: 'Rain with thunderstorm',
    26.0: 'Snowfall'
}

# Converting the 'season' column to numeric (if needed)
bikes['season'] = pd.to_numeric(bikes['season'], errors='coerce')

# Mapping the values 0-3 to the actual written seasons
bikes['season'] = bikes['season'].map(season_dict)

# Converting the 'weather' column to numeric (if needed)
bikes['weather'] = pd.to_numeric(bikes['weather'], errors='coerce')

# Mapping the values to the actual written weathers
bikes['weather'] = bikes['weather'].map(weather_dict)

In [13]:
bikes.head()

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 0:00,182,3.0,2.0,0.930,6.0,Broken clouds,0,1,winter
1,2015-01-04 1:00,138,3.0,2.5,0.930,5.0,Clear,0,1,winter
2,2015-01-04 2:00,134,2.5,2.5,0.965,0.0,Clear,0,1,winter
3,2015-01-04 3:00,72,2.0,2.0,1.000,0.0,Clear,0,1,winter
4,2015-01-04 4:00,47,2.0,0.0,0.930,6.5,Clear,0,1,winter

In [16]:
# writing the final dataframe to an excel file that we will use in our Tableau visualisations. The file will be the 'london_bikes_final.xlsx' file and the sheet name is 'Data'
bikes.to_excel('london_bikes_final.xlsx', sheet_name='Data')